@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
/*{
  box-shadow: 0px 2px 2px 2px red;
}
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
        font-family: 'Source Sans Pro', sans-serif !important;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
    font-family: 'Source Sans Pro', sans-serif !important;
	color: #333;
	color: rgba(0,0,0,0.5);
}

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
.first{
	font-size: 48px !important;
}
h1{
	font-size: 12em;
}
p{
	font-size: 2em;
}
/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section1,
	
	#section4,
	#section5,
	#section6,
	#section7
	{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section1{
		background-image: url(imgs/bg_portada_copia.jpg);
		padding: 0 0 0 0;
		
	}
	#section2{

		background-image: url(imgs/bg_planificador.png) ;
		
		padding: 3% 0 0 0;

	}
	#section3{
		background-image: url(imgs/bg_evaluador.png);
		padding: 6% 0 0 0;
	}
	#section4{
	background-color: #cecece;
		padding: 4% 0 0 0;
	}
	.btn-primary{
	background-color:#0092d9 ;
	border: #0092d9 ;
	width: 70%;
}
#section7{
		background-image: url(imgs/bg_nosotros.jpg);
		padding: 4% 0 0 0;
	}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}

a {
color: black !important;
text-decoration: none;
}
.btn-primary {
color: #ffffff;
background-color: #0092da !important;
border-color: #0092da !important;
}
.izq{
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;
	top:0px;
}
.der{
	position: absolute;
	left: 92%;
	top:0px;
	background-color: #00c968;
	width: 150px;
	height: 60px;
	padding-left: 0px;
	
}
.leftd{
	float: left !important;
	margin-top: none;
}
.imagen{
	padding-top: 10px;
	padding-left: -10px;
	
	margin-right: 25%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #ffffff !important;
background-color: #0092da !important;
}

/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }
 .izquierda{
 height:auto;
 margin-top: 10%;
 color: white;
 text-align: center;
 }
 .izquierda2{
 	margin-top: -5%;
 height: 700px;
color: white;
 text-align: left;
 padding-left: 10%;
 padding-right: 10%;
  padding-top: 10%;
 padding-bottom: 10%;
 }
  .izquierda3{
 height: 550px;
color: white;
  padding-left: 10%;
 padding-right: 10%;
 text-align: left;
 }
.full{
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 999;
	opacity: 0.5;
}
.btn-primary{
	background-color:#0092d9 ;
}
.dentro  {
width: 100%;
}
.imgizq{
	display: inline;
	background-color: blue;

}
.imgizr{
	display: inline;
	background-color: blue
	height: 200px;
	width: 200px;
}
.square{
	display: inline-block;
	background-color: white;
	width: 150px;
	height: 100px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-top: 8px;
	}
.img-responsive{
	z-index: 999;
}
#navbar1{	
	-webkit-border-radius: 5px;
            border-radius: 5px;
            	position:fixed;
	top:10px;
	left: 30%;
	z-index: 70;
}


.video-content{
	width: 100%;
	height: 200px;
	margin-top: 1%;
	margin-bottom:20%; 
	padding-left: 5%;
	padding-right: 3%;
	display: inline-block;
	text-align: left;
}
.video{
 height: 100%;
 width: 40%;
	background-color: blue;
		display: inline-block;
		float: left;
}
.mensaje{
 height: 100%;
 width: 60%;
	background-color: white;	
		display: inline-block;
		float: left;
		padding-left: 40px;
		padding-top: 	0px;
		padding-right: 40px;
		padding-bottom: 20px;

}
.pcontent{
padding: 20px;

margin-top: 1%;
}
.lirmi{
margin-top: -50px;
margin-bottom: 0px;

float: left;
}
.parrafo{
text-align: left;	
color: white;
}
.pic{
display: inline;

}
.redes{
margin-top: 30px; 
}
.fotos{
padding: 30px;		
}
.navbar-brand {
padding: 10px 15px 20.5px !important;
}
#corfo{
padding-right: 10px;
margin-right: 20px;	
}
.cole{
	padding: 1%;
	margin-bottom: 1%;
}
.conten{
	margin-bottom: 10px;
}
.vid{
	 height:auto;
   margin-top: 18%;
}
.boton{

text-align: center;
}